<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>About Us &#8211; Springs of Life Foundation</title>
	<link rel="stylesheet" th:href="@{/css/forum.css}"/>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>	
</head>

<body>
	<div th:replace="thymeleaf/template :: header"></div>
		
	<div class="entry-content" align="left" style="max-width:100%;">
		<p><span style="font-family:Helvetica; color:black; font-size:20px;">
			Founded in 1997, The Global Springs of Life Foundation is a non-profit church outreach program. It is devoted in youth administration and church outreaching activities. We provide the entertainment, science Olympiad training, academic, leadership and volunteer programs. Upon leaving the GSLF, it is our aim that our students:
			</span>
		</p>
		<br/>
		<ul>
			<li style="font-family:Helvetica; color:black; font-size:18px;">are prepared to perform at top levels in their high schools;</li>
			<li style="font-family:Helvetica; color:black; font-size:18px;">have obtained an early college awareness;</li>
			<li style="font-family:Helvetica; color:black; font-size:18px;">will have a drive to succeed in all subjects, embracing all academic challenges;</li>
			<li style="font-family:Helvetica; color:black; font-size:18px;">have developed a personal commitment to serve as leaders of the 21st century.</li>
		</ul>	
	</div>	
	
</body>

<div th:replace="thymeleaf/template :: footer"></div>

</html>
