<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Donate &#8211; Springs of Life Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/css/forum.css}" />
</head>

<body>
	<div th:replace="thymeleaf/template :: header"></div>

	<div class="entry-content" style="max-width:100%;">
		<p align="left">
			<strong style="font-family: Helvetica; color: black; font-size: 25px;">Support Our Students</strong>
			<br/><br/>
		</p>
		<table style="border: 0px solid #ffffff;" border="0" width="100%" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td style="border: 0px solid #ffffff;">
						<img class="alignnone size-full wp-image-437"
						th:src="@{/images/fundraising.png}"
						alt="fundraising" width="534" height="364"
						sizes="(max-width: 534px) 100vw, 534px" />
					</td>
					<td>
						<span style="font-family: Helvetica; color: black; font-size: 20px;">We
							would like to invite you to support our students and community.<strong>
								SHOP.COM</strong> is a new kind of shopping comparison site that offers
							the <strong>most comprehensive shopping experience on
								the web</strong>.  It contains <strong>3600 brand stores and
								78,000,000 products</strong>. By shopping on our website, not only will
							you be able to get a <strong>competitive rate, a small
								amount from your purchase will go to our student fund</strong>. The
							students also can join the membership and get Fundraising done
							with this website.  By clicking the following link, you can visit
							<strong>Springs store</strong>: [
							<a href="http://www.shop.com/spring3"><strong style="color: blue;">www.shop.com/spring3</strong></a>]. 
							We appreciate your participation in improving our community.
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<br/><br/>
		<p align="left">
			<strong style="font-family: Helvetica; color: black; font-size: 25px;">支持我们的学生</strong>
		</p>
		<br/>
		<p>
			<span style="font-family: Helvetica; color: black; font-size: 20px;">我们想要邀请你一同来支持我们的学生和社区。SHOP.COM是一个新颖的购物平台。该网站包含3600品牌商店；78,000,000商品。通过我们的网站，你不仅可以享受折扣优惠，价格中的很小一笔会进入我们的学生基金。
				我们也欢迎学生登陆此网站参加募款。通过点击以下链接，你可以登录<strong><u>世欣基金店面</u></strong>。我们忠诚的感谢你对我们社区的支持。
			</span>
		</p>
	</div>

</body>

<div th:replace="thymeleaf/template :: footer"></div>

</html>
