<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Donate &#8211; Springs of Life Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/css/forum.css}" />
</head>

<body>
	<div th:replace="thymeleaf/template :: header"></div>

	<div class="entry-content" style="max-width:100%;">
		<p align="left">
			<strong style="font-family: Helvetica; color: black; font-size: 25px;">Support Our Mission</strong>
		</p>
		<br/>
		<div>
		
		</div>
	</div>

</body>

<div th:replace="thymeleaf/template :: footer"></div>

</html>
