<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Donate &#8211; Springs of Life Foundation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/css/forum.css}" />
</head>

<body>
	<div th:replace="thymeleaf/template :: header"></div>

	<div class="entry-content" style="max-width:100%;">
		<p align="left">
			<strong style="font-family: Helvetica; color: black; font-size: 25px;">Support Our Students</strong>
			<br/><br/>
		</p>
		<br/>
		<p>
			<span style="font-family: Helvetica; color: black; font-size: 20px;">We want to invite you to support our students and community. SHOP.COM is a novel shopping platform. 
				The site contains 3600 brand stores; 78,000,000 items. Through our website, you can not only enjoy the discount, the price of a small sum will enter our student fund. We also welcome students to visit this site to participate in fundraising. By clicking on the link below, you can log on to the World Store store . We are grateful for your support for our community.
			</span>
		</p>
	</div>

</body>

<div th:replace="thymeleaf/template :: footer"></div>

</html>
