<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Education Forum</title>
	<link rel="stylesheet" th:href="@{/css/forum.css}"/>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>	
	<meta name="keywords" content="forum.math.physics.computer.economics.psychology"/>
</head>

<body>
	<div th:replace="thymeleaf/template :: header"></div>
			
	<div class="entry-content" style="max-width:100%;">
		<p align="left">
			<strong style="font-family:Helvetica; color:black; font-size:25px;">About US: </strong>
		</p>
		<br/>
		<div align="left" style="font-family:Helvetica; color:black; font-size:20px;">
			We offer valuable educational content via forums at K-12, college, graduate levels.
		</div>
		<div align="left" style="font-family:Helvetica; color:black; font-size:20px;">
			We also offer bolt-on IT project deliverables.
		</div>
	</div>
</body>

<div th:replace="thymeleaf/template :: footer"></div>

</html>
