<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Wisdom Spring Tech</title>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>	
	<meta name="keywords" content="forum.math.physics.computer.economics.psychology"/>
	<link rel="stylesheet" th:href="@{/css/forum.css}"/>	
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"/>
</head>

<body>
	<div th:replace="thymeleaf/template :: header"></div>
			
	<div class="container" align="left" >
	  <div class="row">
	  	<p>
			<strong>About US:</strong>
		</p>
		<p>
			This website is dedicated to education, IT, and investment due diligence. To access the content, you need to register and login "Education Forum" navigation bar following very simple steps
		</p>
		<nav>
			<ul>
				<li>			
					Valuable educational content via forums through K-12, college, and graduate levels.
				</li>
				<li >			
					IT project deliverables from scratch, such as interactive website design, investment &amp; trading web applications, etc.
				</li>
				<li>			
					Education services strategy discussion and implementation.
				</li>
				<li>			
					Many more....
				</li>	
			</ul>
		</nav>
	  </div>
	  <br/>		
	  <div class="row">
		<p>
			<strong>Contact:</strong>
		</p>
		<address>
    		<a href="mailto:#">WisdomSpringTech@yahoo.com</a>
		</address>		
	  </div>			
	</div>
</body>

<div th:replace="thymeleaf/template :: footer"></div>

</html>
