<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Wisdom Spring Tech</title>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>	
	<meta name="keywords" content="forum.math.physics.computer.economics.psychology"/>
	<link rel="stylesheet" th:href="@{/css/forum.css}"/>	
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"/>
</head>

<body>
	<div th:replace="thymeleaf/template :: header"></div>
			
	<div class="container" align="left" >
	  <div class="row">
	  	<p>
			<strong>About US:</strong>
		</p>
		<p>
			We're a private group with deep expertise in education, IT, and investment businesses. Due to our extremely efficient resource allocation, we're currently able to offer high quality services with much lower prices compared to peers as shown below:
		</p>
		<nav>
			<ul>
				<li>			
					Valuable educational content via forums through K-12, college, and graduate levels. (To access our free content, you need to register and login "Education Forum" navigation bar of this website following very simple steps).
				</li>
				<li >			
					IT project deliverables from scratch, such as dynamic website design, investment &amp; trading web services and enterprise applications, etc. (up to 50% discount of market rate)
				</li>
				<li>			
					US Stock/Options Markets investment &amp; trading strategy consultation and tactics advice, through our proprietary knowledge and quantitative software. (up to 50% discount of market rate)
				</li>		
			</ul>
		</nav>
	  </div>
	  <br/>		
	  <div class="row">
		<p>
			<strong>Contact US:</strong>
		</p>
		<address>
    		<a href="mailto:#">WisdomSpringTech@yahoo.com</a>
		</address>		
	  </div>			
	</div>
</body>

<div th:replace="thymeleaf/template :: footer"></div>

</html>
