<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<p th:fragment="header">
		<br/>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<!-- <td width="30%"><a href="/"><img th:src="@{/images/icon_EDU.png}" alt="" border="0" height="130" width="30%" /></a></td> -->
					<td width="40%"><h2 align="center" style="color:rgb(128,0,0)">Wisdom Spring Technologies</h2></td>
					<!-- <td width="30%"><img th:src="@{/images/icon_IT.png}" alt="" height="110" border="0" width="40%" /></td> -->
				</tr>
			</tbody>
		</table>
		
		<div id="user_nav" align="right" style="font-family:Helvetica; color:blue; font-size:18px;">
			<nav>
				<a href="/">Home</a>			
				<a href="/forum">Education Forum</a>				
				<a href="/fundraising">Donate</a>
				<!-- <a href="/terms" target="_blank">Terms of Use</a> -->
				<a th:href="'/profile-edit?username=' + ${#authentication.getName()}" th:text="@{'Profile Edit'}" th:if="${#authorization?.expression('isAuthenticated()')}"></a>				
				<a th:href="${#authorization?.expression('isAuthenticated()')}? '/login?logout' : '/login'" th:text="${#authorization?.expression('isAuthenticated()')}? 'Logout' : 'Login'"/>				
				<a class="welcome" th:text="${#authorization?.expression('isAuthenticated()')}? ${#authentication.getName()} + ' welcome!' : 'You are NOT logged in!'"/>
			</nav>
		</div>
		<br/>
		<hr/>
	</p>
	
	<p th:fragment="footer">
		<br/>
		<h3 style="background-color:powderblue; font-family:Helvetica; color:black; font-size:15px;" align="center">Copyright &copy; Wisdom Spring Technologies. All rights reserved.</h3>
	</p>
	
</html>